<a href="https://colab.research.google.com/github/Roms2806/Ciencia_de_Dados_com_Python/blob/main/Python_IA_Intelig%C3%AAncia_Artificial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Case : Score de Crédito dos cliente
 > Analisar todos os clientes do banco;

 > Criar um modelo que consiga ler as informações dos clientes e dizer automáticamente o Score dos clientes:
 * Ruim
 * Bom
 * Ok

In [ ]:
# Passo a Passo do projeto
# > ANTES...ENTENDER O DESAFIO E A EMPRESA
# 1º: importar base de dados
# 2º: preparar base de dados para a IA
# 3º: criar um modelo IA: Ruim, médio e bom
# 4º: escolher o melhor modelo
# 5º: usar o modelo em um cenário real

# > A ferramentas que serão usadas para esse projeto:
# - pandas para importação de base de dados
# - scikit - learn trabalha com modelos de IA

In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.1.0)

In [12]:
# 1º Importar base de dados
import pandas as pd
import numpy

dados = pd.read_csv("/content/clientes.csv")
display(dados)

,id_cliente,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,...,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,score_credito,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,3392,1,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,265.0,21.465380,alto_gasto_pagamento_baixos,312.494089,Good,1,1,1,1,0
1,3392,2,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,266.0,21.465380,baixo_gasto_pagamento_alto,284.629162,Good,1,1,1,1,0
2,3392,3,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,267.0,21.465380,baixo_gasto_pagamento_medio,331.209863,Good,1,1,1,1,0
3,3392,4,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,5.0,...,268.0,21.465380,baixo_gasto_pagamento_baixo,223.451310,Good,1,1,1,1,0
4,3392,5,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,6.0,...,269.0,21.465380,alto_gasto_pagamento_medio,341.489231,Good,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,37932,4,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,23.0,...,378.0,24.028477,alto_gasto_pagamento_alto,479.866228,Poor,1,0,0,0,1
99996,37932,5,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,379.0,24.028477,alto_gasto_pagamento_medio,496.651610,Poor,1,0,0,0,1
99997,37932,6,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,27.0,...,380.0,24.028477,alto_gasto_pagamento_alto,516.809083,Poor,1,0,0,0,1
99998,37932,7,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,20.0,...,381.0,24.028477,baixo_gasto_pagamento_alto,319.164979,Standard,1,0,0,0,1
99999,37932,8,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,382.0,24.028477,alto_gasto_pagamento_medio,393.673696,Poor,1,0,0,0,1

In [4]:
print(dados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 19.1+ MB
None

In [5]:
# Tratando os dados para a IA

from sklearn.preprocessing import LabelEncoder
# serve para converter variaveis que possuem relação de ordem

# > aplicando a ferramenta LabelEncoder ana coluna profissão
codificador = LabelEncoder() #codificador é a ferramenta que vai transformar nosso texto em número
dados["profissao"] = codificador.fit_transform(dados["profissao"]) #quem faz a transformação é o método fit_transform

dados["mix_credito"] = codificador.fit_transform(dados["mix_credito"])

dados["comportamento_pagamento"] = codificador.fit_transform(dados["comportamento_pagamento"])
print(dados.info())

# > Com isso, tudo que estava com objet no Dtype especifico no arquivo foi transformado para int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  int64
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  int64
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  int64
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(10), object(1)
memory usage: 19.1+ MB
None

In [7]:
# * Separar  as informações em dados de treino e dados de teste
y = dados["score_credito"]
# * todas as colunas que a gente vai usar para fazer a previsão do score credito
x = dados.drop(["score_credito","id_cliente"], axis=1)

# > OBS: Para que uma IA entenda o que deve ser feito , ela primeira estuda varios dados que são passados anteriomente e dai aplica seus conhecimentos em cima de dados
# para isso acontecer, ele seleciona dados de treino (70%) e dados de teste(30%) , mas que pode ser definido...que é dado por essa ferramenta:

from sklearn.model_selection import train_test_split

# e assim, deve seguir essa ordem:

x_treino, x_teste, y_treino, y_teste = train_test_split(x,y)

**Criar um Modelo**
> árvore de decisão = modelo baseado em perguntas

 > KNN - nearest neighbors

 * importa
 * cria
 * treina

In [8]:
# Importando as 2 IA
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

#criando:

modelo_arvoredecisao = RandomForestClassifier()
modelo_knn = KNeighborsClassifier()

#treinar:

modelo_arvoredecisao.fit(x_treino, y_treino)
modelo_knn.fit(x_treino, y_treino)

#cada um aprende da sua forma essa é a diferença entre elas, a forma como elas treinam

KNeighborsClassifier()

In [14]:
# Após treinar , feito no código anterior
# Ele receberá dados de teste para avaliar qual IA é a melhor escolha para o projeto
# Escolhendo o melhor modelo

from sklearn.metrics import accuracy_score

previsao_arvoredecisao = modelo_arvoredecisao.predict(x_teste)
previsao_knn = modelo_knn.predict(x_teste)

# Comparando
print(accuracy_score(y_teste, previsao_arvoredecisao))
print(accuracy_score(y_teste, previsao_knn))

#vai avaliar qual x_teste se aproxima mais do gabarito que é o y_teste

0.8246
0.74544

> O melhor modelo é o Árvore de decisão com base em testes
* modelo_arvoredecisao = 83% acurácia

In [21]:
# Usar no cenário real

dados_new = pd.read_csv("/content/novos_clientes.csv")

dados_new["profissao"] = codificador.fit_transform(dados_new["profissao"]) #quem faz a transformação é o método fit_transform

dados_new["mix_credito"] = codificador.fit_transform(dados_new["mix_credito"])

dados_new["comportamento_pagamento"] = codificador.fit_transform(dados_new["comportamento_pagamento"])
display(dados_new)

previsao = modelo_arvoredecisao.predict(dados_new)
print(previsao)

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,1,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,1,312.487689,1,1,0,0,0
1,4,32.0,0,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,2,300.994163,0,0,0,0,1
2,2,48.0,1,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,0,345.081577,0,1,0,1,0

['Poor' 'Good' 'Good']